// 
// 
// user-variables.scss
//
// Place your own variable overrides here, these will override any Bootstrap and theme variables.
$primary:       #ff0000;
$primary-2:     #0F5257;
$primary-3:     #0D2129;